@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

a{
    color: black !important;
}

.brand-logo{
    font-family: 'Grand Hotel', cursive;;
}
.mycard{
    margin-top: 100px;
}

.auth-card{
    padding: 20px;
    text-align: center;
    max-width: 400px;
    margin:10px auto;
}

.input-field input[type=text]:focus {
    border-bottom: 1px solid green !important;
    box-shadow: 0 1px 0 0 green !important;
  }
  .input-field input[type=password]:focus {
    border-bottom: 1px solid green !important;
    box-shadow: 0 1px 0 0 green !important;
  }
   .gallery{
       display: flex;
       flex-wrap: wrap;
       justify-content: space-around;

   }
   .item{
       width: 30%;
   }
   .home-card{
       width: 550px;
       height: max-content;
       margin: 26px auto;
   }
   #toast-container{
       top:30px !important;
       right:20px !important;
       left:auto !important;
   }

   .material-icons:hover{
       cursor:pointer;
   }